@font-face {
    font-family: 'Bad_Script';
    src: url('fonts/Bad_Script.eot');
    src: url('fonts/Bad_Script.eot') format('embedded-opentype'),
         url('fonts/Bad_Script.woff2') format('woff2'),
         url('fonts/Bad_Script.woff') format('woff'),
         url('fonts/Bad_Script.ttf') format('truetype'),
         url('fonts/Bad_Script.svg#Bad_Script') format('svg');
}
@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster.eot');
    src: url('fonts/Lobster.eot') format('embedded-opentype'),
         url('fonts/Lobster.woff2') format('woff2'),
         url('fonts/Lobster.woff') format('woff'),
         url('fonts/Lobster.ttf') format('truetype'),
         url('fonts/Lobster.svg#Lobster') format('svg');
}

$red:  #ff6666;

h1{
  font-size: 40px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

header{
  font-family: 'Lobster';
  height: auto;
  .service_name{
    padding-top: 80px;
  }
  .logo{
    width: 180px;
    height: 180px;
    padding-top: 10px;
    margin-bottom: 10px;
    height: auto;
  }
  .service_contacts{
    padding-top: 95px;
    text-align: right;
    a{
      text-decoration: none;
    }
  }
}

#main{
  background: url(../img/bg.jpg) no-repeat center center;
  border-top: 3px solid $red;
  border-bottom: 3px solid $red; 
  //background-size: cover;
  // height: 1080px;
  #myCarousel{
    margin-top: 50px;
  }
  h1{
    font-family: 'Lobster';
    padding-top: 100px;
    color: $red;
  }
  img{
    width:150px;
    height:150px;
    border-radius: 50%;
    border: 4px solid $red; 
    margin-left: 120px;
    margin-top: 30px;
  }
  p{
    padding: 15px;
    margin-left: 100px;
    align: justify;
    text-indent: 1.5em;
  }
  .carousel-indicators{
    position: static;
    bottom: 250px;
    .active{
      border: 3px solid $red;
    }
  }

  .carousel-indicators li{
    text-indent:0;
    font-weight: bolder;
    font-family: 'Bad_Script';
    font-size: 20px;
    text-align: center;
    padding-top:5px;
    width:200px;
    height: 40px;
    border:none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .carousel-inner{
    margin-left: 50px;
    padding-bottom: 100px;
  }

  .carousel-control-next-icon{
     background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ff6666' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  .carousel-control-prev-icon{
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ff6666' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")  }
}

#advantages{
  font-family: 'Bad_Script';
  margin-top: 30px;
  h2{
    font-weight: bold;
    color: #000;
  }
  ol li{
    font-size: 20px;
  }  
  h2 span{
    text-transform: uppercase;
    color: $red;
  }
}

#footer{
  margin: 50px 0 50px 0px;
  font-family: 'Bad_Script';
  h3{
    a{
      text-decoration: none;
      font-family: 'Lobster';
    }
  }
  h2{
    :first-child{
      font-family: 'Lobster';
      color: #000;
    }
    span{
      color: $red;
      font-family: 'Lobster';
      text-transform: uppercase;
    }
  }
  .service_contacts{
    text-align: right;
    margin: auto;
  }
  .callback_request{
    margin: auto;
  }

  .modal_button{
    font-family: 'Lobster';
    padding: 10px 5px;
    font-size: 20px;
    border-radius: 10px;
    background: $red;
    border: none;
    cursor: pointer;
    &:hover{
      background:#ffa51c;
    }
  }
}